* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #F4C2A8;
    background-image: url(images/background.png);
    color: #40404C;
}

.drag {
    position: absolute;
    width: 250px;
    height: 320px;
    border-radius: 15px;
    background-color: #F5F4F4;
    padding: 30px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.drag p {
    margin-top: 30px;
}


/* rouge : #EE1414
    bleu : #397AF6
    bleu du bouton plus: #2663D8
    entete des box : #EEEDED
    couleur text entete des box : #AFAFAF */