@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(fonts/Inter-Regular.woff2) format("woff2"),url(fonts/Inter-Regular.woff) format("woff")
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url(fonts/Inter-Italic.woff2) format("woff2"),url(fonts/Inter-Italic.woff) format("woff")
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(fonts/Inter-Medium.woff2) format("woff2"),url(fonts/Inter-Medium.woff) format("woff")
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url(fonts/Inter-SemiBold.woff2) format("woff2"),url(fonts/Inter-SemiBold.woff) format("woff")
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-display: block;
    src: url(fonts/Inter-SemiBoldItalic.woff2) format("woff2"),url(fonts/Inter-SemiBoldItalic.woff) format("woff")
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(fonts/Inter-Bold.woff2) format("woff2"),url(fontsInter-Bold.woff) format("woff")
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: block;
    src: url(fonts/Inter-BoldItalic.woff2) format("woff2"),url(fonts/Inter-BoldItalic.woff) format("woff")
}


body {
    font-family: "Inter";
    background-color: #F4C2A8;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #505050;
    overflow: hidden;
}

ul li {
    list-style: none;
}

a {
    color: #505050;
    font-size: 24px;
    text-decoration: none;
}

.drag {
    position: absolute;
    border-radius: 25px;
    background-color: #F5F4F4;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-30%, -30%);
    z-index: 0;
    transition: box-shadow .3s ease-in-out;
}

.drag:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.drag p {
    margin-top: 30px;
}




#drag {
    width: 320px;
    height: 320px;
    left: 220px;
    top: 130px;
}

#drag header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40404c0b;
    color: #505050b3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 41px;
    font-weight: bolder;
    font-size: 12px;
    font-weight: 400;
}





#drag2 {
    left: 770px;
    top: 150px;
    width: 575px;
    height: 315px;
    padding: 45px 40px;
}

#drag2 h1 {
    font-weight: 700;
    font-size: 32px;
}

#drag2 p {
    font-size: 24px;
    color: #50505099;
}

#drag2 a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #505050 !important;
    border-radius: 50%;
    background-color: #e0e0e0;
    bottom: 15px;
    right: 15px;
    transform: rotate(-45deg);
}







#drag3 {
    right: 530px;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 156px;
    transform: translate(-20%, -20%);
}

#drag3 .instagram {
    width: 50px;
    height: 50px;
    background-image: url(images/instagram.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

#drag3 .twitter {
    width: 50px;
    height: 50px;
    background-image: url(images/twitter.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 15px;
}









#drag4 {
    width: 360px;
    height: 400px;
    top: 660px;
    left: 180px;
    background-image: url(images/latest-work1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#drag4 header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40404c0b;
    color: #505050b3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 41px;
    font-weight: bold;
}

#drag4 .text {
    padding: 20px 30px;
}

#drag4 .text h2 {
    color: #505050;
}

#drag4 .text p {
    margin-top: 15px;
    color: rgba(80, 80, 80, .6);
    font-size: 18px;
}

#drag4 a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #505050;
    border-radius: 50%;
    background-color: #e0e0e0;
    bottom: 15px;
    right: 15px;
    transform: rotate(-45deg);
}







#drag5 {
    top: 590px;
    left: 930px;
    width: 390px;
    height: 500px;
}

#drag5 header {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c0b;
    color: #505050b3;
    font-weight: 600;
    font-size: 14px;
}

#drag5 .text {
    padding: 25px 25px;
}

#drag5 .text h2 {
    font-weight: 500;
}

#drag5 .text p {
    margin-top: 3px;
}

#drag5 .text ul {
    motion-path: 10px;
}

#drag5 .text ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    border-bottom: 1px solid #50505028;
}

#drag5 .text ul li h2 {
    font-size: 18px;
    font-weight: 500;
}

#drag5 .text ul li p {
    font-size: 16px;
    color: #50505099;
}






#drag6 {
    top: 760px;
    left: 680px;
    width: 390px;
    height: 200px;
}

#drag6 header {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c0b;
    color: #505050b3;
    font-weight: 600;
    font-size: 13px;
}

#drag6 .video {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#drag6 .video video {
    top: 0;
    object-fit: cover;
    
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px;
}

#drag6 .video svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#drag6 .video svg.pause_btn {
    display: none;
    position: absolute;
    top: 160px;
    left: 225px;
}






#drag7 {
    right: 330px;
    bottom: -10px;
    width: 304px;
    height: 376px;
    overflow: hidden;
    z-index: 1;
}

#drag7 .map {
    position: relative;
    height: 100%;
    height: 100%;
    border-radius: 15px;
    background-image: url('images/map.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
}

#drag7 header {
    position: absolute;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c07;
    color: #505050b3;
    font-weight: 600;
    font-size: 14px;
}

#drag7 .location {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 280px;
    height: 150px;
    border-radius: 15px;
    background-color: #F5F4F4;
    bottom: 10px;
    left: 12px;
}

#drag7 .location .location_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #40404c12;
    height: 80px;
}

#drag7 .location .location_1 .place h2 {
    font-weight: 400;
}

#drag7 .location .location_1 .place p {
    margin-top: 5px;
    color: #40404c6d;
}

#drag7 .location .location_1 .degre h2 {
    font-weight: 400;
}

#drag7 .location .location_1 .degre p {
    margin-top: 5px;
    color: #40404c6d;
}

#drag7 .location .location_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

#drag7 .location .location_2 h4 {
    font-weight: 500;
}

#drag7 .location .location_2 p {
    margin-top: 5px;
    font-size: 13px;
    color: #40404c6d;
}

#drag7 .location .location_2 a {
    background-color: #35c759;
    color: #F5F4F4;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 12px;
}






#drag8 {
    width: 340px;
    height: 587px;
    right: 100px;
    top: 220px;
}

#drag8 header {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c07;
    color: #505050b3;
    font-weight: 600;
    font-size: 14px;
}

#drag8 .text {
    padding: 15px 20px;
}

#drag8 .text h2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 200;
    color: #397af6;
}

#drag8 .list {
    padding: 0 22px;
}

#drag8 .list .item {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    color: #505050;
    border-bottom: 1px solid #50505027;
}

#drag8 .list .item input.input {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #505050a1;
    margin: 0 10px 0 -5px;
    background-color: transparent;
    appearance: none;
}

#drag8 .list .item p {
    margin-top: 0;
    font-size: 16px;
    font-weight: lighter;
}

#drag8 .list .add_btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #397af6;
}




/* All the buttons */
.drag_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, .08);
    background-color: #F5F4F4;
    border-radius: 60px;
    transform: translate(-20%, -20%);
    z-index: 0;
}


#dragBtn_1 {
    top: 420px;
    left: 260px;
    width: 220px;
    height: 83px;
}

#dragBtn_2 {
    top: 580px;
    left: 550px;
    width: 209px;
    height: 83px;
}

#dragBtn_3 {
    top: 470px;
    left: 610px;
    width: 129px;
    height: 63px;
}

#dragBtn_4 {
    right: 90px;
    bottom: 150px;
    width: 158px;
    height: 63px;
}

#dragBtn_5 {
    right: 550px;
    bottom: 510px;
    width: 157px;
    height: 63px;
}

#dragBtn_5 span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 0;
    right: -.25rem;
    background-color: #EE1414;
    border: 1px solid #c41010;
    color: #F5F4F4;
    font-size: 16px;
    font-weight: 600;
}






















/* rouge : #EE1414
    bleu : #397AF6
    bleu du bouton plus: #2663D8
    entete des box : #EEEDED
    couleur text entete des box : #AFAFAF
    vert : #35c759 */