* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #F4C2A8;
    background-image: url(images/background.png);
    color: #505050;
    overflow: hidden;
}

a {
    color: #505050;
    font-size: 24px;
    text-decoration: none;
}

.drag {
    position: absolute;
    border-radius: 15px;
    background-color: #F5F4F4;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-30%, -30%);
    z-index: 0;
    transition: box-shadow .3s ease-in-out;
}

.drag:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.drag p {
    margin-top: 30px;
}




#drag {
    width: 320px;
    height: 320px;
    right: 50px;
    top: 100px;
}

#drag header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40404c0b;
    color: #505050b3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 41px;
    font-weight: bolder;
    font-size: 13px;
}





#drag2 {
    width: 575px;
    height: 315px;
    padding: 45px 30px;
}

#drag2 h1 {
    font-weight: bold;
    font-size: 32px;
}

#drag2 p {
    font-size: 24px;
    color: #50505099;
}

#drag2 a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #505050 !important;
    border-radius: 50%;
    background-color: #e0e0e0;
    bottom: 15px;
    right: 15px;
    transform: rotate(-45deg);
}







#drag3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 600px;
    left: 400px;
    width: 78px;
    height: 156px;
    transform: translate(-20%, -20%);
}

#drag3 .instagram {
    width: 50px;
    height: 50px;
    background-image: url(images/instagram.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

#drag3 .twitter {
    width: 50px;
    height: 50px;
    background-image: url(images/twitter.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 15px;
}









#drag4 {
    width: 360px;
    height: 400px;
    top: 350px;
    left: 800px;
    background-image: url(images/latest-work1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#drag4 header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40404c0b;
    color: #505050b3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 41px;
    font-weight: bold;
}

#drag4 .text {
    padding: 20px 30px;
}

#drag4 .text h2 {
    color: #505050;
}

#drag4 .text p {
    margin-top: 15px;
    color: rgba(80, 80, 80, .6);
    font-size: 18px;
}

#drag4 a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #505050;
    border-radius: 50%;
    background-color: #e0e0e0;
    bottom: 15px;
    right: 15px;
    transform: rotate(-45deg);
}







#drag5 {
    width: 390px;
    height: 500px;
}

#drag5 header {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c0b;
    color: #505050b3;
    font-weight: 600;
    font-size: 14px;
}

#drag5 .text {
    padding: 30px 25px;
}






#drag6 {
    width: 390px;
    height: 260px;
}

#drag6 header {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c0b;
    color: #505050b3;
    font-weight: 600;
}

#drag6 .video {
    width: 100%;
    height: 100%;
    background-color: #F9D7CF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}






#drag7 {
    width: 304px;
    height: 376px;
}

#drag7 .map {
    height: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

#drag7 header {
    position: absolute;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40404c07;
    color: #505050b3;
    font-weight: 600;
    font-size: 14px;
}

#drag7 .location {
    position: absolute;
    width: 280px;
    height: 150px;
    border-radius: 15px;
    background-color: #EE1414;
    bottom: 15px;
    left: 12px;
}





#drag8 {
    width: 340px;
    height: 587px;
}


/* All the buttons */
.drag_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, .08);
    background-color: #F5F4F4;
    border-radius: 60px;
    transform: translate(-20%, -20%);
    z-index: 0;
}


#dragBtn_1 {
    top: 200px;
    left: 400px;
    width: 220px;
    height: 83px;
}

#dragBtn_2 {
    top: 100px;
    left: 400px;
    width: 209px;
    height: 83px;
}

#dragBtn_3 {
    top: 200px;
    left: 700px;
    width: 129px;
    height: 63px;
}

#dragBtn_4 {
    top: 300px;
    left: 250px;
    width: 158px;
    height: 63px;
}

#dragBtn_5 {
    top: 350px;
    left: 450px;
    width: 157px;
    height: 63px;
}

#dragBtn_5 span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 0;
    right: -.25rem;
    background-color: #EE1414;
    border: 1px solid #c41010;
    color: #F5F4F4;
    font-size: 16px;
    font-weight: 600;
}






















/* rouge : #EE1414
    bleu : #397AF6
    bleu du bouton plus: #2663D8
    entete des box : #EEEDED
    couleur text entete des box : #AFAFAF */